*{
    padding:0px;
    margin:0px;
    border:0px;
}

.nav{
    height:65px;
    width:100%;
    background-color: #6f5acd;
}

.nav-holder{
    height:80px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.nav-items{
    height:80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

a:hover{
    transition:0.3s;
    color: #cfcece;
}

li{
    list-style-type: none;
}

#account{
    width:auto;
    height:60px;
    padding-right: 20px;
}

